/*スマホを基準*/
/*上級者向けのページのやつ*/

body{
    margin:0;
    padding:20px;
    background:#0b0b0b;
    color:#e5e5e5;
    font-family:'Orbitron', sans-serif;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}


.content{
    text-align:center;
    background:#111;
    padding:40px 30px;
    border-radius:10px;
    border:2px solid #c9a227;
    box-shadow:0 0 20px rgba(201,162,39,0.2);
}


h1{
    font-size:24px;
    font-weight:400;
    letter-spacing:2px;
    line-height:1.6;
}


strong{
    display:block;
    font-size:40px;
    color:#c9a227;
    margin-top:10px;
}


.bottom-button{
    margin-top:40px;
}

.btn{
    text-decoration:none;
    padding:12px 30px;
    font-size:16px;
    color:#c9a227;
    border:2px solid #c9a227;
    border-radius:6px;
    transition:0.25s;
}

.btn:hover{
    background:#c9a227;
    color:#0b0b0b;
}


/* ===== PC ===== */

@media screen and (min-width:768px){

    .content{
        padding:60px 80px;
        box-shadow:0 0 30px rgba(201,162,39,0.2);
    }

    h1{
        font-size:34px;
    }

    strong{
        font-size:60px;
    }

    .btn{
        padding:16px 40px;
        font-size:18px;
    }

    .bottom-button{
        margin-top:50px;
    }

}



/* ===== selection（プルダウン） ===== */

.selection{
    margin-top:30px;
    text-align:center;
}

.result-link{
    position:fixed;
    top:20px;
    right:20px;
    color:#c9a227;
}

.selection label{
    display:block;
    margin-bottom:10px;
}

.selection select{
    width:100%;
    max-width:200px;
    padding:10px;
    font-size:16px;
    border-radius:6px;
    border:2px solid #c9a227;
    background:#0b0b0b;
    color:#e5e5e5;
    font-family:'Orbitron', sans-serif;
    text-align:center;
}


/* ===== button対応（aでもbuttonでも同じ見た目にする） ===== */


button.btn{
    background:none;
    cursor:pointer;
}


/* ===== PC用微調整 ===== */

@media screen and (min-width:768px){

    .selection{
        margin-top:40px;
    }

    .selection select{
        max-width:260px;
        font-size:18px;
        padding:12px;
    }
}
