/*スマホを基準*/
/*シンプルなランダムダーツのページ*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;

    background:
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)),
        url("second.jpg") no-repeat center center fixed;

    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    letter-spacing: 2px;
}

/* スコア */
strong {
    display: block;
    font-size: 50px;
    margin-top: 20px;
    color: #ff003c;
    text-shadow: 0 0 15px #ff003c;
}


.bottom-button {
    font-size: 40px ;
    padding:12px 24px;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.btn-primary {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 30px;
    background: linear-gradient(45deg, #ff003c, #ff7300);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff003c;
}

.form{
    color:white;
}

.result-link {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
}

.selection{
    font-size: 18px;
    padding: 40px;
}

.selection label {
    display: block;
    margin-bottom: 10px;
}
/*bullの処理*/
.bull-mode {
    animation: flashBackground 1s infinite alternate;
}


.bull-text {
    font-size: 60px;
    color: gold;
    text-shadow:
        0 0 10px gold,
        0 0 20px orange,
        0 0 40px red;
    animation: glow 1s infinite alternate;
}

/*アニメーション*/
@keyframes glow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

@keyframes flashBackground {
    from {
        background-color: rgba(255,0,0,0.2);
    }
    to {
        background-color: rgba(255,215,0,0.3);
    }
}


/*PC用*/

@media screen and (min-width: 768px) {

    h1 {
        font-size: 30px;
    }

    strong {
        font-size: 70px;
    }

    .btn-primary {
        padding: 15px 40px;
        font-size: 18px;
    }

    .bull-text {
        font-size: 90px;
    }

    .bottom-button {
        bottom: 60px;
    }

}
