<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ランダムダーツ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sanitize.css') }}">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ランダムダーツ</h1>
    <p>
        ダーツ練習アプリです
        このアプリの使い方、説明は以下のボタンから確認できます
    </p>
    <br>

    <nav class="menu" aria-label="メインメニュー">
        <a class="menu-button" href="{{ url_for('about') }}">このアプリについて</a>
        <a class="menu-button" href="{{ url_for('next_page') }}">Normal mode</a>
        <a class="menu-button" href="{{ url_for('advanced_page') }}">Advanced mode</a>
    </nav>



    <div class="how">
        <a href="https://www.dartslive.com/jp/beginner/throwing/" rel="noopener noreferrer">
            ダーツの投げ方はこちら
        </a>
    </div>
    

</body>

</html>
