<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ランダムダーツ</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ランダムダーツへようこそ！</h1>
    <h2>ダーツの練習をもっと楽しく、効果的に！？</h2>
    <p>
ランダムダーツとはダーツボードの的をラウンドごとランダムに指定して投げる練習法です<br>
毎回違う狙いに挑戦できるため、精度や判断力を効率的に高められます<br>
また集中力や修正力の向上にも役立ちます<br>
初心者から上級者まで、単調になりがちな練習をより実践的にします<br>
    </p>

<a href="/next">
        <button>Let's play!!</button>
    </a>

    <a href="/Advanced">
        <button>上級者向けモード</button>
    </a>        


</body>

</html>